@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #EEEEEE;
}


header {
    background-color: darkred;
}

.nav-fc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    /* margin: 0 10px; */
    /* margin-left: 5%;
    max-width: 90%; */

}

.logo {
    font-size: 2em;
    font-weight: 700;
    color: white;
    border: 6px solid white;
    border-radius: 20px;
    padding: 0px 5px;
    margin-left: 5%;
}

.hamburger {
    display: none;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    display: block;
    color: white;
    padding: 10px 25px;
    border-radius: 50px;
    margin: 0 5px;
}

.nav-bar ul li a:hover {
    color: black;
    background-color: lightgrey;
}

.nav-bar ul li a.active {
    color: black;
    background-color: lightgrey;
}

@media only screen and (max-width: 900px) {
    .hamburger {
        display: block;
        cursor: pointer;
        margin-right: 5%;
    }

    .hamburger .line {
        /* height: 3px; */
        width: 30px;
        border: 2px solid white;
        border-radius: 5px;
        /* color: black; */
        margin: 6px 0;
    }

    .nav-bar {
        position: absolute;
        top: 10vh;
        width: 100%;
        background-color: rgb(146, 23, 23);
        height: 0;
    }

    .nav-bar.active {
        height: 40vh;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 40px auto 0 auto;
        text-align: center;
        opacity: 0;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-bottom: 10px;
    }


}

.hero{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    background-color: #DC5F00;

}

.hero-img img{
    width: auto;
    height: 40vh;
    border: 55px dashed darkred;
    border-radius: 50%;
}
  .hero-content {
    text-align: center;
    font-size: 20px;
  }

  .hero .btn{

margin: 30px 0px;
    padding: 10px 25px;
    background: darkred;
    color: white;
    border: 0px;
    border-radius: 20px;
  }

.hero-content .designation{
    font-size: 25px;
}
.hero-content .full-name{
    font-size:50px;
    font-weight: bold;    
    padding: 0 5px;
}

.hero-content .breif{
    font-size: 15px;
     padding: 0 10%;
}

@media only screen and (max-width: 900px) {

    .hero{
        flex-direction: column;
        /* justify-content: center; */
        align-content: space-around;
        /* align-items: center; */
        justify-items: center;
        height: 90vh;
    }
}



h1{
    margin: 10px 0px;
}

h2{
    margin: 5px 0px;
}

.center-heading{
    text-align: center;
}


/* services */
.service-icon{
    margin: 40px 15px;
    font-size: 35px;
    color: darkred;
}

.service-fc{
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
    border: 3px solid darkred;
    border-radius: 20px;
    background-color: yellow;
}

.services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin: 0px 5%;
}



@media only screen and (max-width: 900px) {
    .services {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-content: start;
        align-items: center;
        gap: 10px;
        margin: 0px 5%;
    }
    }
/* services */
